:root {
  background-color: #ffffff;
  font-size: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -moz-deck;
  justify-content: center;
  align-items: center;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border: 1px;
  border-color: rgb(0, 0, 0);
  border-collapse: collapse;
  letter-spacing: .2rem;
}

.container > *{
  width: 80%;
}

.styled-table,
th,
tr {
  border-collapse: collapse;
  margin:0 auto;
  padding-bottom: 5px;
  border-bottom: 1pt solid rgb(255, 128, 128);
  border-bottom-width: thin;
  border-bottom-style: solid;  
}

td:nth-child(2) {
  padding-right: 20px;
}​

.align-text-center {
  border: 1px;
  border-color: rgb(0, 0, 0);
  border-collapse: collapse;
  letter-spacing: .2rem;
}

h2 {
  margin:0 auto;
  padding-top: 5%;
  padding-bottom: 0;
}

.address-font {
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  margin:0 auto;
  font-size: 25px;
  padding-bottom: 40px;
}

.zona-logo {
  max-width: 70%;
  height: auto;
}
